{$CAROUSEL_BACKEND_DOMAIN:api-carousel.139-59-35-242.sslip.io} {
	encode zstd gzip

	reverse_proxy carousel-backend:8000 {
		transport http {
			response_header_timeout 3600s
			read_timeout 3600s
			write_timeout 3600s
		}
	}

	log {
		output stdout
		format json
	}
}
